@font-face {
  font-family: "Ruthie"; /*Can be any text*/
  src: local("Ruthie-Reguler"),
    url("../fonts/Ruthie-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Abril Fatface"; /*Can be any text*/
  src: local("AbrilFatface"),
    url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
}

:root {
  --primary: #ffb7f1;
}

.navInt {
  border: 8px solid #ffffff;
}

.bgCakes {
  position: relative;
  height: 100vh;
  background: url(../assets/img/bg.jpeg);
  content: "";
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px 50px 100px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 50px 100px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 50px 100px 0px rgba(0, 0, 0, 1);
}

/* Intorduction */
.intro {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.title-w {
  font-family: Ruthie;
}

.title-d {
  font-family: Abril Fatface;
}

.title-w,
.title-d {
  font-size: 2em;
  text-align: center;
  color: #feff9c;
}

@media only screen and (min-width: 1280px) {
  .title-w,
  .title-d {
    font-size: 5rem;
  }
}
/* End of Introduction */
